spring:
  data:
    redis:
      host: redis
      port: 6379

  datasource:
    url: jdbc:mysql://mysql:3307/appdb?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: app
    password: app1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true