name: CI - Build & Push Docker Image (GHCR)

on:
  pull_request:
  push:
    branches: ["main"]

# GHCR은 무조건 소문자여야 함
env:
  IMAGE_NAME: ghcr.io/yanghee-kim/auth-service-starter

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      # main push일 때만 GHCR 로그인
      - name: Login to GHCR
        if: github.event_name == 'push'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # PR 단계: 빌드만 (push X)
      - name: Build (PR) - no push
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: false
          tags: ${{ env.IMAGE_NAME }}:pr-${{ github.event.pull_request.number }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # main 단계: 빌드 + GHCR push
      - name: Build & Push (main)
        if: github.event_name == 'push'
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
            ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Jenkins CD 트리거
      - name: Trigger Jenkins CD
        if: github.event_name == 'push'
        run: |
          curl -X POST "http://54.116.58.222:8080/job/cd-auth-service-starter/build?token=deploy-auth-service"